<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Romer's Portfolio</title>
  <!-- Compiled and minified CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <link href="/static/fontawesome/fontawesome-all.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/brands.css" integrity="sha384-IiIL1/ODJBRTrDTFk/pW8j0DUI5/z9m1KYsTm/RjZTNV8RHLGZXkUDwgRRbbQ+Jh" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

  <link rel="shortcut icon" type="image/png" href="img/favicon.png">


<link rel="stylesheet" href="font-awesome-animation.min.css">
  
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  

  <div class="parallax-container valign-wrapper padding-2">
   

      <!-- <div class="row">
        <div class="col 18  m7 white-text">
          <h4 class="thin-text left-align valign custom-title">I'm Romer Alfonso, a web designer &amp; front-end developer based in San Diego, California</h4>
        </div>
      </div> -->
    
      
      <header class="header">
        <div class="logo-box">
          <a href="#home">
            <img src="img/ralogo4.png" alt="Logo" class="logo">
          </a>
        </div>
        <div class="text-box">
            <h1 class="heading-primary" id="home">
                <span class="heading-primary-main">Romer Alfonso</span>
                <span class="heading-primary-sub">Innovative Web Developer</span>
              </h1>
              <a href='contacted' class="btn btn--white btn--animated">contact me.</a>
        </div>
      </header>
      
      <div class="parallax">
        <video autoplay muted loop id="myVideo">
          <source src="img/star.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

  <div class="grey darken-4" id="block1">
      
    <div class=" container ">
        
        <div class="row">
            <div class="col s7 push-s5"><span class="flow-text"> <h2 class="white-text" id="about"> About me</h2>
              <div class="divider"></div>
              <h5 class="white-text" > I'm a 25 year old junior delveloper from San Diego CA. I started early 2017 as student in a local coding bootcamp called
                Origin Code Academy. On my free time I like to shoot drone footage around big open nature and video edit. I'm a
                unique aspiring web developer that can create eye catching content website. I'm a front-end developer
                that knows how to work with React,Redux, Node.js, HTML, CSS, MongoDB, mySQL and more.
              </h5></span></div>
            <div class="col s5 pull-s7">
              <img src="img/logoface.png" alt="face" id="face">
          </div>
          </div>

      <div class="row">
        <h2 class="white-text section-header" id="selected"> Selected Works </h2>
        
      </div>

      <div class="row">

        <div class="col s10 push-s1">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="img/pitchportal4.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4" id='pitch'>Pitch Portal
                <i class="material-icons right">more_vert</i>
              </span>
              <p>
                <a>More Info</a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                <h4>Pitch Portal</h4>
                <i class="material-icons right">close</i>
              </span>
              <h5>Summary</h5>
              <p>In this project I took part of creating this web application for Origin Code Academy. This project allows companies
                pitch their personal project to OCA. OCA can then distribute the selected projects to students that are in
                their final project and capable of accomplishing given task. Pitch Portal can eliminate the process of communication
                between the company and OCA . Companies can easily create their own account and answer specific questions
                for their pitch project that students generally ask during the process of building the web application.</p>
              <h5>Build Process</h5>
              <p>In Pitch Portal we were able to create a login/sign up form for users to create their own account. If you already
                signed up as a new user it should take you to a set of questionnaires for the project you want to submit
                to OCA. Once the project is submitted, the page will render you to the user dashboard where you can also
                create a whole new set of projects. In the user dashboard there will be a detail button where you can click
                and take you to the full detail of the project you have submitted.On the OCA side there will be someone to
                look at the submitted project and able to approve or deny if it meets the qualification for the students.
                I took part building the company dashboard and admin dashboard. Inside the company dashboard I was able to
                use axios get request userI d and access token for the user to have access to all submitted projects. I had
                an issue on how to get the userId and access token once they were logged in. I came up with the solution
                and made a request call in Loopback for the userId. So that the user can have access to their own data such
                as user info and user projects. The admin dashboard should have access to all submitted projects. Now I had
                to implement on how they can analyze the project detail to make a decision if its approve or deny. The hardest
                part was getting all user projects to populate into a table list. So I made the same solution in company
                dashboard where I was able to make an axios get request to all user projects. Now that I have some data I
                mapped the submitted projects in a table.
              </p>
              <h5>Technical Build</h5>
              <h6>React-Redux</h6>
              <h6>CSS and Bootstrap</h6>
              <button class="btn waves-effect waves-light grey darken-3 mt-1" type="submit" name="action" id='check'>
                <a>Check it out
                  <i class="material-icons right">send</i>
                </a>
              </button>
            </div>
          </div>
        </div>
        <div class="col s10 push-s1 ">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="img/hackathon.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4" id='pitch'>San Diego Hike Finder
                <i class="material-icons right">more_vert</i>
              </span>
              <p>
                <a>More Info</a>
              </p>


            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                <h4>San Diego Hike Finder</h4>
                <i class="material-icons right">close</i>
              </span>
              <h5>Summary</h5>
              <p>This hike finder app uses React and Express to help locate the top hiking trails in San Diego. My initial submission
                for this 72 hour project to Origin was my first React application I built from the ground up. The requirement
                for this project where I need to enable to use 2 API’s. Google maps API allowed me to integrate and pinpoint
                the hiking locations and with Trail API was able to grab information for that hiking destination. I’ve always
                been interested in hiking and going on adventures in the outdoors.So i was inspired to create an application
                where i can locate hiking trails around San Diego. You can choose any given hiking locations around San Diego
                and it will give you information you need and direct you to the right coordination.
              </p>
              <h5>Build Process</h5>
              <p>This project I originally had 72 hours to submit to Origin. During this project I was able to create a boilerplate
                in production of a basic React app. Main objective was to initiate 2 API’s apply both functionality into
                an app.I was able to use google maps API to show the destination of the hiking trail. Trail API enabled me
                to use their current data to share the right coordinates and information about hiking trails in San Diego.
                One of the hardest task was implementing both APIs into one application. What I learned was I had to create
                specific components with React for the APIs I used for this project. What I did was import those child components
                to the main app component so I can concatenate those APIs together for a fully functional application.</p>
              <h5>Technical Build</h5>
              <h6>React-Redux</h6>
              <h6>CSS and Bootstrap</h6>
              <button class="btn waves-effect waves-light grey darken-3 mt-1" type="submit" name="action" id='check'>
                <a href='https://ra-sandiego-hike-finder.herokuapp.com/'>Check it out
                  <i class="material-icons right">send</i>
                </a>
              </button>
            </div>
          </div>
        </div>
        <div class="col s10 push-s1 ">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="img/weatherapp3.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4" id='pitch'>Weather App
                <i class="material-icons right">more_vert</i>
              </span>
              <p>
                <a>More Info</a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                <h4>Weather App</h4>
                <i class="material-icons right">close</i>
              </span>
              <h5>Summary</h5>
              <p>The weather application is one the project I’ve created during the process of learning React-Redux. In this
                project I was able to use OpenWeatherMap API allowing users to request the current city weather. There are
                default city navigation bar buttons that are provided for a quicker weather search.
              </p>
              <h5>Build Process</h5>
              <p>This weather app was one of my first project that I built with React-Redux. During this build phase I encounter
                how to utilize redux form where I was able to manipulate data through the storage store and pass data through
                the components. Using the OpenWeatherMap API grant me axios request for current city weather data. Weather
                temperature, wind pressure, humidity, wind speed and more.</p>
              <h5>Technical Build</h5>
              <h6>React-Redux</h6>
              <h6>OpenWeatherMap API</h6>
              <h6>CSS and Bootstrap</h6>
              <button class="btn waves-effect waves-light grey darken-3 mt-1" type="submit" name="action" id='check'>
                <a href='https://ra-weather-app.herokuapp.com/'>Check it out
                  <i class="material-icons right">send</i>
                </a>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="parallax-container valign-wrapper">


    <div class="container">
      <div class="row">
        <div class="col m12 offset-m2  valign ">
          <h2 class=" white-text cta">Lets work together.</h2>
          <a href= "contacted" class="btn btn--white btn--animated">contact me.</a>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="https://4.bp.blogspot.com/-N7KtB-oV1Jo/UsUXr0GGK7I/AAAAAAAAceQ/LGLb0tG9EcI/s0/Full+Moon+over+San+Diego+Ultra+HD.jpg">
    </div>

  </div>


  <div class="grey darken-4">
    <div class="row container " id="contacted">

      <h2 class="white-text"> Contact me.</h2>
      <div class="divider"></div>
     
      <div class=' container ' id='icons'>
          <div class='col s6 m6 l4 '>
              <div class='pulse'>
                <a href="https://drive.google.com/file/d/1DdiwBREx8xj-qp-DLKy82vNxNJhDrpem/view">
               <i class="fas fa-user-circle fa-4x" ></i>
              </a>
              </div>
            </div>
      <div class='col s6  m6 l4 '>
              <div class= 'pulse'>
                <a href="https://www.linkedin.com/in/romer-alfonso-51733214a/">
          <i class="fab fa-linkedin fa-4x "></i>
          </a>
          </div>
         </div>
              <div class='col s6 m6 l4 '>
                  <div class='pulse'>
                    <a href="https://github.com/RomerAlfonso">
                  <i class="fab fa-github fa-4x" ></i>
                </a>
                  </div>
                 </div>
                </div>
      <div class="row">
        <div class="container">
          <form class="col s12" action="https://formspree.io/romer.alfonso03@gmail.com" method="POST" >
            <div class="card  grey darken-4" id="message">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" name="firstName" type="text" class="validate white-text">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" name="lastName" class="validate white-text">
                  <label for="last_name">Last Name</label>
                </div>
              </div>

              <div class="row">

              </div>

            
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" name="email" class="validate white-text">
                  <label for="email">Email</label>
                  <div class="input-field col s12">
                    <input id="icon_telephone" type="number" name="telephone" class="validate white-text">
                    <label for="icon_telephone">Telephone</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                  <label for="icon_prefix2">Message</label>
                </div>
                <button class="waves-effect waves-light btn  black-text white" id="send" type="submit">Send</button>
               
              </div>
          </form>
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
  </div>


  <div class="parallax-container">
    <div class="parallax">
      <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SsLYSh45lizrfzvep/videoblocks-business-man-working-and-writing-in-laptop-on-office-desk-background-hands-top-view-slow-motion-red-epic_rdwdrtwl3x_thumbnail-full01.png">
    </div>
  </div>

</div>

  <footer class="page-footer white  ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Tools</h5>
          <div class="divider"></div>
          <div class="row">

            <div class="col s5 m6 l3">
              <div class="card  ">
                <div class="card-image" id="boot">
                  <img src="https://www.nexapp.io/9e8baf771b464be0e46ab51a767513c2.png">
                </div>
              </div>
            </div>


            <div class="col s5 m6 l3">
              <div class="card">
                <div class="card-image" id="boot">
                  <img src="http://kelly-family.pl/img/mongodb.png">
                </div>
              </div>
            </div>


            <div class="col s5 m6 l3">
              <div class="card">
                <div class="card-image" id="boot">
                  <img src="https://blog.netapsys.fr/wp-content/uploads/2017/06/react-logo-300x300.png">
                </div>
              </div>
            </div>


            <div class="col s5 m6 l3">
              <div class="card">
                <div class="card-image "  id="boot">
                  <img src="https://camo.githubusercontent.com/647e291a5fd52d50e01deb82f9392c462df148a6/687474703a2f2f617070732e6f63746f636f6e73756c74696e672e636f6d2f696d616765732f6578707265737349636f6e2e706e67">
                </div>
              </div>
            </div>

            <div class="col s5 m6 l3">
              <div class="card" id="boot">
                <div class="card-image">
                  <img src="https://sdtimes.com/wp-content/uploads/2018/01/bootstrap-stack-490x412.png">
                </div>
              </div>
            </div>

            <div class="col s5 m6 l3">
              <div class="card">
                <div class="card-image" id="boot">
                  <img src="http://sasha-photostyle.hol.es/img/svg/mat.svg">
                </div>
              </div>
            </div>

            <div class="col s5 m6 l3">
              <div class="card">
                <div class="card-image" id="boot">
                  <img src="https://insightworkshop.io/uploads/technologies/201708010427223107.png">
                </div>
              </div>
            </div>


            <div class="col s5 m6 l3">
              <div class="card">
                <div class="card-image" id="boot">
                  <img src="http://fenomenaagency.com/wp-content/themes/swag/swag/assets/images/tech/IMG_09.png">
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>
    </div>
    <div class="footer-copyright grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 l3"><p><a class="white-text text-lighten-3" href="#home">Home</a></p></div>
          <div class="col s12 m6 l3"><p><a class="white-text text-lighten-3" href="#about">About me</a></p></div>
          <div class="col s12 m6 l3"><p><a class="white-text text-lighten-3" href="#selected">Selected Works</a></p></div>
          <div class="col s12 m6 l3"><p><a class="white-text text-lighten-3" href="#contacted">Contact</a></p></div>
        </div>
      </div>
    </div>
  </footer>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script src="https://use.fontawesome.com/8e56555a3f.js"></script>

  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('.parallax').parallax();
    }); </script>



  <!-- Or with jQuery -->
  <script>
    $(document).ready(function () {
      $(".button-collapse").sideNav();
    });
  </script>

  <script> 
    $(document).ready(function () {
      $('.slider').slider();
    });
  </script>

  <script>
    $(document).ready(function () {
      $('.carousel').carousel();
      fullwidth: true
    });
  </script>

  <script type='text/javascript'>
  var canvas = document.getElementById("canvas");
  canvas.width = 400;
  canvas.height = 400;
  var c = canvas.getContext('2d');
  var numStars= 100;
var stars= [];
var size = 1;
var fl= canvas.width;
var centerX = canvas.width/2;
var centerY = canvas.height/2;
var speed = 6;
for(var i = 0; i<numStars;i++){
  stars[i] = new Star();
}
 
 function Star(){
   this.x= Math.random()*canvas.width;
   this.y= Math.random()*canvas.height;
   this.z= Math.random()*canvas.width;
   this.move= function(){
     this.z = this.z-speed;
     if(this.z<=0){
       this.z = canvas.width;
     }
   }

   this.show = function(){
     var x,y,s;
     x = (this.x - centerX) * (fl/this.z);
     x = x + centerX;
      
     y = (this.y - centerY) * (fl/this.z);
     y=y + centerY;

     s = size * (fl/this.z);
     

     c.beginPath();
     c.fillStyle = 'white'
     c.arc(x, y ,s, 0, Math.PI*2);
   c.fill();
   }
 }

  function draw(){
    c.fillStyle = "black";
  c.fillRect(0,0,canvas.width,canvas.height);
  for(var i = 0; i<numStars;i++){
  stars[i].show();
  stars[i].move();
}
  } 

  function update(){
    draw();
    window.requestAnimationFrame(update);
  }
  update();
  
   </script>


</body>
</html>
